<style type="text/css">
	.header-bar {
		border-top: 1px solid #222326;
		border-bottom: 1px solid #222326;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 36px;
	}
</style>

<div class="header-bar">
	<div class="container">
		<div class="pull-left">
			<span>Created by: <a href="https://play.spotify.com/user/spotify_espa%C3%B1a">SpotifyenEspañol</a></span>
			<span>• </span>
			<span>67 songs</span><span>, </span>
			<span>4 hr 28 min</span>
		</div>
	</div>
</div>